
<app-admin-nav></app-admin-nav><br/>
<mat-card class ='adds' >
  <h1>All listings</h1>
  <h2>Welcome {{username}}</h2>
  </mat-card>
<mat-card *ngFor="let list of ListingsOutput | async" class="displaylist">

  <p><b>Listing Title:</b> {{list.listing_title}}</p>
  <p><b>Description:</b> {{list.description}}</p>
  <p><b>Address:</b> {{list.street}}</p>
  <p><b>City: </b> {{list.city}} monthly</p>
  <p><b>Price:</b> ${{list.price}}</p>
  <p><b>email:</b> {{list.email}}</p>
  <p><b>Lister Username:</b> {{list.username}}</p>
  <p><b>Postal Code:</b> {{list.postal_code}}</p>
</mat-card>
