.book{
    /* display: flexbox; */
    padding-top: 5px; 
    padding-bottom: 5px;  
    /* min-width: 500px; */
    margin-left: 30px;
    margin-bottom: 15px; 
}
.book  p { display : block; overflow-wrap: break-word; max-width : 100%;}