<mat-toolbar color="primary" >
    <span><button mat-raised-button color="warn" (click)="logOUT()">Logout</button></span>
    <span class="spaceers2"><button mat-icon-button color="accent" (click)="gohome()"><mat-icon>home</mat-icon> </button></span>
    <span class="spaceers"><button mat-stroked-button color="accent" (click)="gotoAdd()">Add Listing</button></span>
    <span class="spaceers"><button mat-stroked-button color="accent" (click)="gotoList()"> View All Listings</button></span>
    
</mat-toolbar>
