<!-- <p>cust-nav works!</p> -->
<mat-toolbar color="primary" >
    <span><button mat-raised-button color="warn" (click)="logOUT()">Logout</button></span>
    <span class="spaceers2"><button mat-icon-button color="accent" (click)="gohome()"><mat-icon>home</mat-icon> </button></span>
    <span class="spaceers"><button mat-stroked-button color="accent" (click)="gotobooking()"> View Bookings</button></span>
    <span class="spaceers"><button mat-stroked-button color="accent" (click)="gotoCreate()">Create</button></span>
    <span class="spaceers"><button mat-stroked-button color="accent" (click)="searchList()">Search</button></span>
</mat-toolbar>