h1,h2{
    text-align: center;
}
.Cclass{
    /*  text-align:justify; */
    padding: 1.2em 1em 0; 
}
.Cclass button{
    margin: 0.8em 0.4em 0;
}

/* .Bclaas{
    margin-right: 30px;
} */
mat-card{
    margin-top: 500px;
    margin: auto;
}
.Cbox{
      margin-top: 17%;
    /* position: absolute;
    left: 35%;
    top: 30%; */
}