

    <mat-card class="entry Cbox container">
        <h1>Login In</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <label for="user_Name">Username </label>
                <input type="text" id="user_Name" name="user_Name" formControlName="user_Name">
            </p>
            <p>    
                <label for="pass_word">Password </label>
                <input type="text" id="pass_word" name="pass_word" formControlName="pass_word">
            </p><p>
                <button button mat-raised-button color="primary" type="submit"  >Login</button>
                <button button mat-raised-button color="primary" style="float: right;" [routerLink]="['/signUp']">Signup</button></p>
        </form>
        <p><a [routerLink]="['/signUp']">Click here to Signup</a></p>
    </mat-card>

