<p>search-bypostal works!</p>
<!-- <mat-card class="entry">
    <form  [formGroup]="getPostalForm" (ngSubmit)="getPostal(getPostalForm.value.postal_code)">
        <p>
            <label for="postal_code"> <h4>Search By Postal Code</h4> </label>
            <input type="text" id="postal_code" name="postal_code" formControlName="postal_code">
        </p>
        <p>
            <button type="submit">Postal Code Search</button>
          </p><p>{{errorsPostal}}</p><mat-card *ngFor="let list of postalOutput">
            <p>listing title: {{list.listing_title}}</p>
            <p>description: {{list.description}}</p>
            <p>street: {{list.street}}</p>
            <p>city: {{list.city}}</p>
            <p>price: {{list.price}}</p>
            <p>email: {{list.email}}</p>
            <p>username: {{list.username}}</p>
            <p>postal_code: {{list.postal_code}}</p>
            <br>
          </mat-card>
    </form>
  </mat-card> -->