
h1{
    text-align: center;
}

.Bclaas{
    margin-right: 217px;
}
mat-card{
    /* margin: auto; */
    /* margin-top: 19%; */
    /* position: absolute;
    top: 30%;
    left: 40%; */

}
.Cbox{
    position: absolute;
    left: 35%;
    top: 30%;
}